.businessTab{
	cursor: default;
  position: relative;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.progress{
  display: inline-block;
  margin-left: 5rem; 
  width: 100%;
}

.tabTime{
  position: absolute;
  top: 1.4rem;
  left: 1rem;
  margin-right: 1rem;
  color: grey;
}

.selectedTab{
  position: absolute;
  left: 0;
  width: 2px;
  height: 100%;
  transform: translateY(-.5rem);
  background: #E77A3B;
}

.businessTitle{
  display: inline-block;
  font-size: 1em;
  margin-bottom: .4rem;
    margin-left: 5rem; 

}

.businessTab:first-child{
	margin-top: 1.5rem;
}

.businessTab:hover{
	background: #333333;
}

.btnEdit{
  background-color: #202b33;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 4px 12px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.btnDelete{
  background-color: #776163;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 4px 12px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: .6rem;
}

/*Pop-Up Styling*/

/*.popUpContainer{
  display: none;
  z-index: 3;
  width: 100%;
  height: 100px;
  background: #6D788D;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.popUpContainer_message{
  color: white;
  position: absolute;
  margin: 0;
  line-height: 0;
  top: 50%;
  transform: translateX(-50%);
  margin-left: 50%;
  font-size: 32px;
}*/


/*Buttons*/

.yesBtn{
  background: #FC7169;
  position: absolute;
  bottom: -50px;
  left: 50%;
}

.noBtn{
  background: #6D788D;
  position: absolute;
  bottom: -50px;
  right: 50%;
}

.noBtn, .yesBtn{
  color: #FFF6F6;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;

}

/*Close Button*/

.close {
  position: absolute;
  right: 13px;
  top: 7px;
  width: 23px;
  height: 17px;
  opacity: .7;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #FC7169;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* cover */

.cover{
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
  opacity: .9;
}

.green{
  color: #00CC66;
}

.orange{
  color: #E49F00;
}

.grey{
  color: grey;
}